.profile {
  color: rgb(53, 53, 53);
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.description {
  padding: 20px;
  background-color: lightgray;
  text-align: center;
  font-size: 20px;
}
.avatar {
  display: block;
  max-width: 200px;
  height: auto;
  border-radius: 40%;
  margin-left: auto;
  margin-right: auto;
}
.stats {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.stats li {
  padding: 5px 0px 5px 0px;
  text-align: center;
  background-color: cornflowerblue;
  width: calc(100% / 3);
}
.label,
.quantity {
  font-size: 20px;
  display: block;
}
