.item {
  margin-top: 20px;
  display: flex;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  transition: 200ms;
  border-radius: 5px;
}
.item:hover {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.status {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.online {
  composes: status;
  background-color: green;
}
.offline {
  composes: status;
  background-color: red;
}
.avatar {
  margin-left: 10px;
}
.name {
  margin-left: 20px;
  font-weight: bold;
}
